/* ConfigView.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.config-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  color: rgb(0, 0, 0);
}




.config-title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'mv boli';
  margin-bottom: 25px;
}

.config-grid {
  display: flex;
  text-align: center;
  justify-content: center;
 
}

.config-form {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.config-column {
  flex: 1;
  margin: 0 20px;
}

.config-form label {
  margin-bottom: 5px;
}

.config-input {
  width: 90%;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 10px;
}

.config-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 35px;
  width: 100px;
  height: 50px;
 margin-left: 40%;
 margin-right: 20px;
}

.edit-button
{
  background-color: #4c90af;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  

}
.campos
{
  width: 100%;
  border-radius:15px;
}

label
{
  font-size: larger;
}